/**
 * {{ desc }}
 * @param user {object} User info
 * @return {Promise<any>} Data
 */
async function exec({ phone }) {
    /* implementation */
    {{ implementation }}
}

module.exports = {
    exec: exec,
    name: "{{ name }}"
}